* {
  box-sizing: border-box;
}


#carContainer {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

#carSeat {
  position: relative;
  width: 75%;
  margin: 10px;
  padding: 50px;
  text-align: center;
  border: solid white 2px;
  border-radius: 20px;
  height: 200px;
  background: rgb(119, 144, 190)

}


#carSeat p {
  text-align: center;
}

